<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="396918042087-9ejg6k7n4i7etgc50jv1lap0oergma7a.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Google authorisation</title>
</head>

<body>
    <h1>Google Authorisation</h1>
    <div class="g-signin2">

    </div>
</body>

</html>